.fuenteTitulo{
    font-size: 30px;
}
table {
    width: 100%;
    margin-top: 20px;
  }
  
.th{
    width: 10%;
  }
.botones{
    cursor: pointer;
  }
.mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  .colorBoton{
    background-color:rgb(235, 170, 49);
    color: white;
  
  }