<div class="container">
  <mat-toolbar style="background-color:transparent">
    <span>{{titulo}}</span>
    <span class="example-spacer"></span>
    <div>
      <button mat-raised-button class="colorBoton" id="linkCrearCliente" routerLink="./crearCliente">Insertar Cliente</button>
    </div>
  </mat-toolbar>
    <div>     
      
        <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="filtro" #input>
          </mat-form-field>
  
      <div class="mat-elevation-z10">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="Id" >
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
  
          <!-- NOMBRE Column -->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombre </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.nombre}} </td>
          </ng-container>
          <!-- APELLIDO  Column -->
          <ng-container matColumnDef="Apellido">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Apellido </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.apellido}}</td>
          </ng-container>

          <!-- IDENTIFICACION Column -->
          <ng-container matColumnDef="NoIdentificacion">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;" mat-sort-header> Identificación </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.numeroIdentificacion}} </td>
          </ng-container>

              <!-- TELEFONO Column -->
          <ng-container matColumnDef="Telefono">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Telefono </th>
            <td mat-cell *matCellDef="let element"style="text-align: center;"> {{element.telefono}}</td>
          </ng-container>

              <!-- CORREO Column -->
          <ng-container matColumnDef="Correo">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Correo </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.correo}} </td>
          </ng-container>
  
            <!-- SEXO Column -->
            <ng-container matColumnDef="Sexo">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Sexo </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.sexo}} </td>
            </ng-container>
  
              <!-- NACIMIENTO Column -->
          <ng-container matColumnDef="FechaNacimiento">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nacimiento </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.fechaNacimiento}} </td>
          </ng-container>

             <!-- DIRECCION Column -->
             <ng-container matColumnDef="Direccion">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Direccion</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.direccion}} </td>
            </ng-container>
  
              <!-- botones Column -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element; let i = index"style="text-align:center">
                  <a  class="botones" id="editarCliente" [routerLink]="['/clientes/editarCliente/',element.numeroIdentificacion]" (click)="actualizarCliente(element.numeroIdentificacion)" style="color:rgb(19, 12, 59)" matTooltip="Editar Cliente">
                    <mat-icon>edit</mat-icon>
                  </a>
                  <a  class="botones" id="eliminarCliente" (click)="eliminarCliente(element)" style="color:rgb(224, 26, 26)" matTooltip="Eliminar Cliente">
                    <mat-icon>delete</mat-icon>
                  </a>
                </td>
              </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
        
  
      </div>
  
    </div>
  
  </div>

